<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <%- include('../includes/navigation.ejs') %>

   <div class="uk-section uk-flex uk-animation-fade" uk-height-viewport>
    <div class="uk-container">
      <% if (errorMessage) { %>
        <div class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%= errorMessage %></p>
        </div>
      <% } %>
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-body">
          <h3 class="uk-text-center ui-card-title">Create Password</h3>
          <form action="/new-password" method="POST">
            <div class="uk-margin">
              <div class="ui-text-field">Password</div>
              <input name="password" id="password" class="ui-input uk-input uk-form-medium" type="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <div class="uk-margin uk-text-center">
              <button class="uk-button uk-button-primary uk-text-capitalize" type="submit">Create Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include('../includes/end.ejs') %>