<div class="uk-width-1-2@s" style="margin-top: 0px;">
  <div class="ui-text-field">First Name</div>
  <input name="firstname" id="firstname" class="ui-input uk-input uk-form-medium" type="text" value="<%= shipmentAddress.firstname %>">
</div>
<div class="uk-width-1-2@s" style="margin-top: 0px;">
  <div class="ui-text-field">Last Name</div>
  <input name="lastname" id="lastname" class="ui-input uk-input uk-form-medium" type="text" value="<%= shipmentAddress.lastname %>">
</div>
<div class="uk-width-1-2@s">
  <div class="ui-text-field">Phone / Mobile</div>
  <input name="phone" id="phone" class="ui-input uk-input uk-form-medium" type="number" value="<%= shipmentAddress.phone %>">
</div>
<div class="uk-width-1-1@s">
  <div class="ui-text-field">Address</div>
  <input name="address" id="address" class="ui-input uk-input uk-form-medium" type="text" value="<%= shipmentAddress.address %>">
</div>
<div class="uk-width-1-2@s">
  <div class="ui-text-field">Zip / Postal Code</div>
  <input name="postalcode" id="postalcode" class="ui-input uk-input uk-form-medium" type="text" value="<%= shipmentAddress.postalcode %>">
</div>
<div class="uk-width-1-2@s">
  <div class="ui-text-field">City</div>
  <input name="city" id="city" class="ui-input uk-input uk-form-medium" type="text" value="<%= shipmentAddress.city %>">
</div>
<div class="uk-width-1-2@s">
  <div class="ui-text-field">State</div>
  <input name="state" id="state" class="ui-input uk-input uk-form-medium" type="text" value="<%= shipmentAddress.state %>">
</div>
<div class="uk-width-1-2@s">
  <div class="ui-text-field">Country</div>
  <input name="country" id="country" class="ui-input uk-input uk-form-medium" type="text" value="<%= shipmentAddress.country %>">
</div>