<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/mypage.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="uk-section">
        <div class="uk-container uk-container-medium">
          <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">
              <h2>My Page</h2>
            </div>
          </div>
          <%- include('../includes/my-account.ejs') %>
          <%- include('../includes/my-shipment-details.ejs') %>
          <%- include('../includes/my-orders.ejs') %>
        </div>
    </div>
    </main>
    <%- include('../includes/end.ejs') %>