<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product-detail.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main class="uk-container uk-container-medium">
        <div class="centered">
          <h1 class="product-title"><%= product.title %></h1>
          <p class="product-description"><%= product.description %></p>
        </div>
        <div class="product-panel">
          <div class="product-panel-images">
            <div>
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
          </div>
          <div class="product-panel-actions">
            <h2>$<%= (product.price).toLocaleString('en-US') %></h2>
            <% if (isAuthenticated) { %>
              <%- include('../includes/add-to-cart.ejs', {product}) %>
            <% } %>
          </div>
        </div>
        <%- product.details %>  
      </main>
      <%- include('../includes/end.ejs') %>